@import "variables";

.confirmation-dialog {
  width: 300px;

  pre {
    white-space: pre-wrap;
  }
  .buttons-row {
    padding-top: 30px;
    display: flex;
    justify-content: center;

    > * {
      margin: 0 8px;
    }
    button {
      text-transform: uppercase;
    }
  }
}