<div class="branches-dialog">
  <form>
    <mat-radio-group class="radio-group" name="branchesRadioGroup" [(ngModel)]="actionType" (change)="actionTypeChange()">
      <mat-radio-button color="primary" [value]="'switch'">
        <mat-form-field>
          <mat-select placeholder="Switch Branch" [panelClass]="'branches-select'" [formControl]="branchName">
            <mat-option *ngFor="let name of branches" [value]="name">
              {{name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-radio-button>
      <mat-radio-button color="primary" [value]="'create'">
        <mat-form-field>
          <input type="text" matInput placeholder="Create Branch" [name]="newBranchName" [formControl]="newBranchName" />
          <mat-error *ngIf="actionType === 'create' && newBranchName.hasError('required')">*Required</mat-error>
          <mat-error *ngIf="actionType === 'create' && newBranchName.hasError('duplicate')">Branch already exists</mat-error>
          <mat-error *ngIf="actionType === 'create' && newBranchName.hasError('locked')">Branch is locked</mat-error>
          <mat-error *ngIf="actionType === 'create' && newBranchName.hasError('pattern')">Branch should only contain: "a-zA-Z0-9_-"</mat-error>
        </mat-form-field>
      </mat-radio-button>
    </mat-radio-group>

    <div class="button-row">
      <button tabindex="-1" type="button" mat-button color="primary" class="btn-cancel" mat-dialog-close>
        Cancel
      </button>
      <button type="submit" mat-raised-button color="primary" class="btn-submit" (click)="checkout()">
        {{actionType==='switch' ? 'Switch' : 'Create'}}
      </button>
    </div>
  </form>
</div>