<div class="commit-dialog">
    <form (ngSubmit)="commit()">
      <mat-form-field class="form-field">
          <textarea matInput placeholder="Commit message" [formControl]="comment"></textarea>
          <mat-error>*Required</mat-error>
      </mat-form-field>
    
      <div class="buttons-row">
          <button type="button" mat-button color="primary" class="btn-cancel" mat-dialog-close>
            Cancel
          </button>
      
          <button type="submit" mat-flat-button class="btn-submit">
            Commit
          </button>
      </div>
    </form>
  </div>