<div class="col-container" appSplit [gutterWidth]="20" [splitAreas]="['#editor-tree-view','#editor-detail-view']"
  [splitSizes]="[60,40]" [splitMinSizes]="[330,150]">
  <!-- col which shows tree view -->
  <div class="col-default-env" id="editor-tree-view">
    <!-- filename input -->
    <mat-form-field class="filename" [floatLabel]="'always'">
      <label>{{appName}}/</label>
      <input type="text" #fileNameInput="matInput" matInput maxlength="50" placeholder="File Name" [formControl]="filename"
        (input)="fileNameChange()" />
      <mat-error *ngIf="filename.hasError('required')">*Required</mat-error>
      <mat-error *ngIf="filename.hasError('alreadyExists')">*The file name arealdy exists</mat-error>
      <mat-error *ngIf="filename.hasError('pattern')">The file name should only contain these characters:
        "0-9a-zA-Z-_."</mat-error>
    </mat-form-field>
    <!-- property tree -->
    <app-nested-config-view #nestedConfig [configuration]="configuration" [environments]="environments"
      [envFileMode]="envFileMode" (configurationChange)="onConfigChange($event)" (selectedNode)="onNodeSelected($event)"
      (cancelAddEditPropertyChange)="onCancelAddEditProperty()" (viewCompiledYAMLEvent)="showCompiledYAML($event)"
      (addEditProperty)="onAddEditProperty($event)"></app-nested-config-view>

    <ng-template [ngTemplateOutlet]="buttonsTemplate"></ng-template>
  </div>

  <!-- detail panel -->
  <div class="col-other-envs" id="editor-detail-view">
    <!-- if node is selected to view detail -->
    <div class="section-heading" *ngIf="selectedNode">
      <h3>{{selectedNode.getPathsString()}}</h3>
      <button mat-flat-button color="primary" *ngIf="!showAsCode" class="btn-submit" (click)="openEditPropertyDialog(selectedNode)">
        Edit
      </button>
    </div>
    <div class="preview" *ngIf="selectedNode">
      <!-- shows the node as YAML for non-leaf node -->
      <pre *ngIf="showAsCode"><code appHighlight [highlight]="previewCode" [languages]="['yaml']"></code></pre>
      <!-- shows the leaf node as readonly label -->
      <div *ngIf="!showAsCode" class="property">
        <div class="mat-form-field mat-form-field-appearance-legacy mat-form-field-disabled mat-form-field-can-float mat-form-field-should-float">
          <div class="mat-form-field-wrapper">
            <div class="mat-form-field-flex">
              <div class="mat-form-field-infix">
                <mat-label>{{selectedNode.key}}</mat-label>
                <span class="mat-form-field-label-wrapper">
                  <label class="mat-form-field-label">Name</label>
                </span>
              </div>
            </div>
            <div class="mat-form-field-underline">
              <span class="mat-form-field-ripple"></span>
            </div>
          </div>
        </div>
        <div class="mat-form-field mat-form-field-appearance-legacy mat-form-field-disabled mat-form-field-can-float mat-form-field-should-float">
          <div class="mat-form-field-wrapper">
            <div class="mat-form-field-flex">
              <div class="mat-form-field-infix">
                <mat-label>{{selectedNode.valueType}}</mat-label>
                <span class="mat-form-field-label-wrapper">
                  <label class="mat-form-field-label">Value Type</label>
                </span>
              </div>
            </div>
            <div class="mat-form-field-underline">
              <span class="mat-form-field-ripple"></span>
            </div>
          </div>
        </div>
        <div class="mat-form-field mat-form-field-appearance-legacy mat-form-field-disabled mat-form-field-can-float mat-form-field-should-float">
          <div class="mat-form-field-wrapper">
            <div class="mat-form-field-flex">
              <div class="mat-form-field-infix">
                <mat-label><span [innerHTML]="yamlService.highlightNodeVariable(selectedNode)"></span></mat-label>
                <span class="mat-form-field-label-wrapper">
                  <label class="mat-form-field-label">Value</label>
                </span>
              </div>
            </div>
            <div class="mat-form-field-underline">
              <span class="mat-form-field-ripple"></span>
            </div>
          </div>
        </div>
        <div class="mat-form-field mat-form-field-appearance-legacy mat-form-field-disabled mat-form-field-can-float mat-form-field-should-float">
          <div class="mat-form-field-wrapper">
            <div class="mat-form-field-flex">
              <div class="mat-form-field-infix">
                <mat-label class="comment">
                  <pre>{{selectedNode.getCommentStr()}}</pre>
                </mat-label>
                <span class="mat-form-field-label-wrapper">
                  <label class="mat-form-field-label">Comments</label>
                </span>
              </div>
            </div>
            <div class="mat-form-field-underline">
              <span class="mat-form-field-ripple"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- shows the compiled YAML -->
    <div class="section-heading" *ngIf="showAsCompiledYAMLEnvironment">
      <h3>{{showAsCompiledYAMLEnvironment}} environment compiled yaml</h3>
    </div>
    <div class="preview" *ngIf="showAsCompiledYAMLEnvironment">
      <pre><code appHighlight [highlight]="previewCode" [languages]="['yaml']"></code></pre>
    </div>
    <!-- shows the add/edit panel -->
    <div class="add-edit-property-mode" *ngIf="currentConfigProperty">
      <app-add-edit-property-dialog (saveProperty)="onSaveAddEditProperty($event)" (cancel)="onCancelAddEditProperty($event)"
        [data]="currentConfigProperty"></app-add-edit-property-dialog>
    </div>
  </div>
</div>
