<!-- filename input -->
<div class="filename-wrapper">
  <label *ngIf="editMode || isPercyrcFile" class="input-title">File Name</label>
  <mat-form-field class="filename" [floatLabel]="'always'" [ngClass]="{'edit-mode': editMode || isPercyrcFile}">
    <label class="app-label">{{file.applicationName}}/{{editMode ? file.fileName : isPercyrcFile ? '.percyrc' : ''}}</label>
    <input [ngClass]="{'hidden': editMode || isPercyrcFile}" type="text" #fileNameInput="matInput" matInput [placeholder]="editMode || isPercyrcFile ? '': 'File Name'" maxlength="50" [formControl]="filename"/>
    <mat-error *ngIf="filename.hasError('required')">*Required</mat-error>
    <mat-error *ngIf="filename.hasError('alreadyExists')">*The file name already exists</mat-error>
    <mat-error *ngIf="!filename.hasError('required') && filename.hasError('pattern')">The file name should only contain these characters:
      "0-9a-zA-Z-_."</mat-error>
  </mat-form-field>
</div>

<div class="buttons-row" *ngIf="!isViewOnly && !showFileEditor">
  <button
    [disabled]="showFileEditor" type="button" mat-flat-button
    color="primary" class="btn-edit" (click)="showFileEditor = true"
  >
    Edit
  </button>
</div>

<div class="col-container" *ngIf="isPercyrcFile">
  <ng-container *ngIf="!showFileEditor">
    <mat-card class="file-content">
      <pre><code appHighlight [highlight]="fileContent" [languages]="['json']"></code></pre>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="showFileEditor">
    <textarea class="text-editor" [ngModel]="fileContent" (ngModelChange)="onFileContentChange($event)"></textarea>
  </ng-container>
</div>

<ng-container *ngIf="!isPercyrcFile">
  <!-- percyrc editor -->
  <div class="col-container" *ngIf="!showFileEditor">
    <mat-card class="file-content">
      <markdown class="markdown" [data]="fileContent" ngPreserveWhitespaces></markdown>
    </mat-card>
  </div>

  <!-- md editor -->
  <div *ngIf="showFileEditor" class="col-container" appSplit [gutterWidth]="20">
    <mat-card class="col-md-editor" appSplitArea [splitSize]="50" [minSize]="300">
      <app-markdown-editor class="md-editor" [content]="fileContent" (contentChange)="onFileContentChange($event)"></app-markdown-editor>
    </mat-card>

    <!-- col which shows file view -->
    <mat-card class="col-md-view file-content" appSplitArea [splitSize]="50" [minSize]="300">
      <markdown class="markdown" [data]="fileContent" ngPreserveWhitespaces></markdown>
    </mat-card>
  </div>
</ng-container>

<ng-template [ngTemplateOutlet]="buttonsTemplate"></ng-template>
