// configuration editor page
@import "variables";

.filename-wrapper {
  margin-top: 5px;
  width: calc(50% - 10px);
  position: relative;

  .input-title {
    position: absolute;
    top: 0;
    font-size: 10px;
    opacity: 0.8;
  }

  .filename {
    display: block;

    ::ng-deep .mat-form-field-infix {
      display: flex;
      padding-top: 1em;
      overflow-x: auto;
      overflow-y: hidden;
      align-items: center;
    }

    ::ng-deep .mat-form-field-label-wrapper {
      top: 0;
    }

    .app-label {
      color: grey;
    }

    .settings-label {
      margin-left: auto;
      padding-left: 15px;
    }

    input {
      width: auto;
      flex: 1;
      &.hidden {
        display: none;
      }
    }
  }

  .filename.edit-mode {
    ::ng-deep .mat-form-field-infix {
      padding-top: 0;
    }
  }
}

.buttons-row {
  display: flex;
  align-items: flex-start;
  padding-bottom: 15px;

  button {
    text-transform: uppercase;
  }
}

.col-container {
  display: flex;
  flex: 1; // This will make the editor to fill the vertical space
  min-height: 1px;

  .file-content {
    width: 100%;
    height: 100%;
    overflow: auto;

    pre {
      white-space: pre-wrap;
      font-family: Roboto;
      font-weight: 700;
      line-height: 20px;
    }

    ::ng-deep .markdown {

      * {
        line-height: 1.5;
      }

      p {
        margin: 1em 0;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 0.83em 0;
      }

      blockquote {
        margin: 1em 40px;
      }

      ol, ul {
        margin: 1em 0;
        padding-left: 40px;
      }
    }
  }

  .text-editor {
    width: 100%;
    flex: 1;
    background-color: $white;
    border: 0;
    padding: 16px;
    resize: none;
    -webkit-appearance: none;
    font-family: Roboto;
    font-size: 14px;
  }

  .col-md-editor,
  .col-md-view {
    width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 1px;
  }

  .col-md-editor {
    padding: 0;
    display: flex;
    flex-direction: column;

    .md-editor {
      flex: 1;
      min-height: 1px;
      display: flex;
      flex-direction: column;
    }

    ::ng-deep {

      .editor-toolbar {
        border: 0;
      }

      .CodeMirror {
        border-width: 1px 0 0 0;
        flex: 1;
        min-height: 1px;
      }
    }
  }
}
