.branches-dialog {
  .button-row {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      >* {
          margin: 0 8px;
      }
      button {
        text-transform: uppercase;

        &.btn-submit {
          width: 85px;
        }
      }
  }
}

::ng-deep .mat-form-field-infix {
  width: 200px !important;
}
