.branches-dialog {
  .mat-form-field {
    width: 200px;
  }
  .button-row {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      >* {
          margin: 0 8px;
      }
      button {
        text-transform: uppercase;
      }
  }
}
