<div class="branches-dialog">
  <form>
    <mat-form-field>
      <mat-label>Branch Name</mat-label>
      <input type="text" matInput [name]="newBranchName" [formControl]="newBranchName" />
      <mat-error *ngIf="newBranchName.hasError('required')">*Required</mat-error>
      <mat-error *ngIf="newBranchName.hasError('duplicate')">Branch already exists</mat-error>
      <mat-error *ngIf="newBranchName.hasError('locked')">Branch is locked</mat-error>
      <mat-error *ngIf="newBranchName.hasError('pattern')">Branch should only contain: "a-zA-Z0-9_-"</mat-error>
      <mat-error *ngIf="newBranchName.hasError('maxlength')">Branch name max length is 30</mat-error>
    </mat-form-field>

    <div class="button-row">
      <button tabindex="-1" type="button" mat-button color="primary" class="btn-cancel" mat-dialog-close>
        Cancel
      </button>
      <button type="submit" mat-raised-button color="primary" class="btn-submit" (click)="createBranch()">
        Create
      </button>
    </div>
  </form>
</div>
