html {
    --vscode-editor-background: #1e1e1e;
    --vscode-editor-foreground: #d4d4d4;
    --vscode-dropdown-background: #3c3c3c;
    --vscode-editorWidget-background: #252526;
    --vscode-input-placeholderForeground: #a6a6a6;
}

.gutter-horizontal::before {
    border-left-color: grey !important;
}
.gutter-vertical::before {
    border-top-color: grey !important;
}
code.hljs .hljs-string {
    color: #ce9178 !important;
}