// configuration editor page
@import "variables";
.editor-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px 50px;

    app-editor {
      display: flex;
      flex: 1;
    }

    .buttons-row {
        display: flex;
        padding-top: 20px;
        .btn-cancel {
            margin-left: auto;
        }
        >* {
            margin-right: 10px;
        }
        button {
          text-transform: uppercase;
        }
    }
}