<h2 mat-dialog-title>{{ data.editMode ? ((!data.node.isDefaultNode() && data.node.getLevel() === 1) ? 'Edit Environment' : 'Edit Property') : (data.node.isDefaultNode() ? 'Add Property': (data.node.getLevel() === 0 ? 'Add Environment' : 'Override Property')) }}</h2>
<h3>{{getBreadCrumb()}}</h3>

<div class="property-form-wrapper" [ngSwitch]="(data.node.isDefaultNode() || data.keyOptions.length || keyDisabled() || isDefineEnv()) ? 'form' : 'error'">

  <form class="property-form" *ngSwitchCase="'form'"
  (ngSubmit)="onSubmit()">
    <mat-form-field *ngIf="!data.node.isDefaultNode() && !isDefineEnv()" class="form-field">
      <mat-select placeholder="Name" [formControl]="key"
        (selectionChange)="setValueTypeOption($event.value)">
        <mat-option *ngFor="let option of data.keyOptions" [value]="option.key">
          {{option.key}}
        </mat-option>
      </mat-select>
      <mat-error>*Required</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="data.node.isDefaultNode() || isDefineEnv()" class="form-field">
      <input maxlength="30" type="text" matInput placeholder="Name" [formControl]="key" />
      <mat-error *ngIf="key.hasError('required')">*Required</mat-error>
      <mat-error *ngIf="key.hasError('pattern')">The name should only contain these characters: "0-9a-zA-Z$-_."</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-select *ngIf="!valueTypeDisabled()" placeholder="Value Type" [formControl]="valueType"
        (selectionChange)="value.setValue('')">
        <mat-option *ngFor="let option of valueTypeOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>

      <input *ngIf="valueTypeDisabled()" type="text" matInput placeholder="Value Type"
        [formControl]="valueType" />
      <mat-error>*Required</mat-error>
    </mat-form-field>

    <ng-container *ngIf="valueType.value === 'string'" [ngSwitch]="showInherits()">
        <mat-form-field *ngSwitchCase="false" class="form-field">
            <input type="text" matInput placeholder="Value" [formControl]="value" />
            <mat-error *ngIf="value.hasError('required')">*Required</mat-error>
        </mat-form-field>
        <mat-form-field *ngSwitchCase="true" class="form-field">
          <mat-select placeholder="Env" [formControl]="value">
            <mat-option *ngFor="let option of inheritsOptions" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="value.hasError('required') && inheritsOptions.length > 0">*Required</mat-error>
          <mat-error *ngIf="inheritsOptions.length === 0">There is no other environment node to inherit.</mat-error>
        </mat-form-field>
    </ng-container>

    <mat-form-field *ngIf="valueType.value === 'number'" class="form-field">
        <input type="number" matInput placeholder="Value" [formControl]="value" />
        <mat-error *ngIf="value.hasError('required')">*Required valid number</mat-error>
        <mat-error *ngIf="value.hasError('range')">The value should be a valid number</mat-error>
    </mat-form-field>

    <div *ngIf="valueType.value === 'boolean'" class="value-radio-options form-field">
      <div class="section-heading">Value</div>
      <mat-radio-group [formControl]="value">
        <mat-radio-button color="primary" value="true">True</mat-radio-button>
        <mat-radio-button color="primary" value="false">False</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="value.invalid && formDirty">*Required</mat-error>
    </div>

    <mat-form-field *ngIf="showAnchor()" class="form-field">
      <input maxlength="30" type="text" matInput placeholder="Anchor" [formControl]="anchor" />
      <mat-error *ngIf="anchor.hasError('required')">*Required anchor</mat-error>
      <mat-error *ngIf="anchor.hasError('pattern')">The anchor should only contain these characters: "a-zA-Z0-9_-"</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showAlias()" class="form-field">
      <mat-select placeholder="Alias" [formControl]="alias">
        <mat-option *ngFor="let option of anchorsOptions" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="!anchorsOptions || !anchorsOptions.length">There is no elegible anchor to reference.</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <textarea
        matTextareaAutosize matAutosizeMaxRows="6" matAutosizeMinRows="2"
        matInput placeholder="Comments" [formControl]="comment" ></textarea>
    </mat-form-field>

    <div class="form-field toggle-line">
      <mat-slide-toggle color="primary" [checked]="autoTrim" (change)="useAutoTrim($event)">Auto trim</mat-slide-toggle>
      <ng-container *ngIf="canDuplicateDefault()">
          <mat-slide-toggle color="primary" [checked]="duplicateDefault" (change)="useDefault($event)">Duplicate default properties</mat-slide-toggle>
      </ng-container>
      <ng-container *ngIf="data.node.isDefaultNode() && isNonFirstObjectInArray()">
          <mat-slide-toggle color="primary" [checked]="duplicateFirstSibling" (change)="useFirstSibling($event)">Duplicate first sibling properties</mat-slide-toggle>
      </ng-container>
    </div>

    <div class="buttons-row">
      <button type="button" mat-button color="primary" class="btn-cancel" (click)="onCancel()">
        Cancel
      </button>

      <button type="submit" mat-flat-button color="primary" class="btn-submit">
        Submit
      </button>
    </div>
  </form>
  <h4 *ngSwitchCase="'error'" class="no-property-error">
    {{
      (!data.node.isDefaultNode() && data.node.getLevel() === 0) ?
        'Please add the environment to your environments file first.' : 'There is no property left to override in the corresponding node of the default environment.'
    }}
  </h4>
</div>