// add or edit property parameters
@import "variables";

h2 {
    padding: 0px;
    margin-bottom: 0;
}
.property-form-wrapper {
    background-color: $white;
    .property-form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-top: 10px;
        .form-field {
            margin-bottom: 15px;
            textarea {
                box-sizing: content-box;
            }
        }
        .toggle-line {
          display: inline;
          .mat-slide-toggle {
            height: 34px;
            margin-right: 10px;
          }
        }
        .value-radio-options {
            .section-heading {
                margin-bottom: 8px;
                transform: scale(0.75);
                transform-origin: 0 0;
                color: rgba($black, 0.54);
            }
            ::ng-deep .mat-radio-group {
                display: block;
                >* {
                    margin-right: 25px;
                }
            }
            ::ng-deep .mat-error {
                font-size: 10.5px;
                margin-top: 10px;
            }
        }
    }
    .buttons-row {
        display: flex;
        >* {
            margin-right: 10px;
        }
        button {
          text-transform: uppercase;
        }
    }
}

.no-property-error {
    line-height: 16px;
    margin-top: 10px;
    padding: 10px;
}