// configuration editor page
@import "variables";
.editor-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 50px;
    .btn-small {
        line-height: 28px;
        font-size: 13px;
    }
    .filename {
        label {
          color: grey;
        }
        input {
          width: auto;
        }
    }
    .col-container {
        display: flex;
        flex: 1; // This will make the tree view to fill the vertical space
        margin-top: 5px;
        .section-heading span {
            font-weight: 400;
        }
        .col-default-env {
            width: 60%;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            .section-heading {
                margin-bottom: 20px;
            }
            app-nested-config-view {
              flex: 1;
            }
        }
        .col-other-envs {
            width: 40%;
            padding-left: 20px;

            .section-heading {
              display: flex;

              h3 {
                flex: 1;
                margin-top: 20px;
              }
              button {
                text-transform: uppercase;
              }
            }
            .preview {
                overflow-wrap: break-word;
                background-color: white;
                padding: 0px 10px;
                margin-top: 20px;
                pre {
                    margin-top: 20px;
                    .hljs {
                        padding-left: 0;
                        background: white;
                    }
                }
                .property {
                    display: flex;
                    margin-top: 20px;
                    padding-top: 10px;
                    flex-direction: column;
                    .mat-form-field {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .buttons-row {
        display: flex;
        padding-top: 20px;
        margin-left: auto;
        >* {
            margin-right: 10px;
        }
        button {
          text-transform: uppercase;
        }
    }
}