// configuration editor page
@import "variables";
.editor-page {
    padding: 10px 100px;
    .btn-small {
        line-height: 28px;
        font-size: 13px;
    }
    .filename {
        width: 40%;
        label {
          color: grey;
        }
        input {
          width: 300px;
        }
    }
    .col-container {
        display: flex;
        margin-top: 5px;
        .section-heading span {
            font-weight: 400;
        }
        .col-default-env {
            width: 60%;
            padding-right: 20px;
            .section-heading {
                margin-bottom: 20px;
            }
        }
        .col-other-envs {
            width: 40%;
            padding-left: 20px;
            .preview {
                overflow-wrap: break-word;
                background-color: white;
                padding: 20px;
                .section-heading {
                    margin-bottom: 10px;
                }
                pre {
                    margin-top: 20px;
                    .hljs {
                        padding-left: 0;
                        background: white;
                    }
                }
                .property {
                    display: flex;
                    margin-top: 20px;
                    flex-direction: column;
                    .mat-form-field {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    .buttons-row {
        display: flex;
        padding-top: 20px;
        >* {
            margin-right: 10px;
        }
        button {
          text-transform: uppercase;
        }
    }
}