<div class="conflict-dialog">
    <div class="conflict-title">Resolve following conflict file(s):</div>

    <mat-accordion>
      <ng-container *ngFor="let file of data.conflictFiles; let i = index">
          <mat-expansion-panel [expanded]="fileIdx === i" (opened)="setFileIdx(i)">
              <mat-expansion-panel-header>
                <mat-panel-title class="conflict-panel-title">
                  <mat-icon *ngIf="!file.resolveStrategy">error</mat-icon>
                  <mat-icon *ngIf="file.resolveStrategy">check_circle</mat-icon>
                  {{file.applicationName}} / {{file.fileName}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-radio-group (change)="resolveConflict($event, file)">
                  <mat-radio-button value="draft" color="primary" class="mat-radio-button draft">Use {{data.srcBranch || 'Draft'}}</mat-radio-button>
                  <mat-radio-button value="repo" color="primary" class="mat-radio-button repo">Use {{data.targetBranch || 'Repository'}}</mat-radio-button>
              </mat-radio-group>
              <div class="view-codes" appSplit [gutterHeight]="400" [gutterWidth]="10">
                  <mat-card class="view-code mat-elevation-z" appSplitArea [splitSize]="50" [minSize]="50">
                      <pre><code appHighlight [highlight]="file.draftYaml" [languages]="['yaml']"></code></pre>
                  </mat-card>
                  <mat-card class="view-code mat-elevation-z" appSplitArea [splitSize]="50" [minSize]="50">
                      <pre><code appHighlight [highlight]="file.originalYaml" [languages]="['yaml']"></code></pre>
                  </mat-card>
              </div>
            </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

    <div class="buttons-row">
      <button type="button" mat-button color="primary" class="btn-cancel" mat-dialog-close>
        Cancel
      </button>
      <button type="submit" mat-flat-button color="primary" class="btn-submit" [disabled]="!allResolved()" (click)="confirmAction()">
        Resolve Conflicts
      </button>
    </div>
  </div>