
// colors
$white: #fff;
$black: #000;

// gray colors
$gray-200: #f1f1f1;
$gray-400: #e4e4e4;
$gray-600: #666666;
$gray-800: #282828;

$color-bg-body: $gray-200;

$color-text-primary: $gray-800;
$color-text-secondary: $gray-600;