@import "variables";

.confirmation-dialog {
  width: auto;
  min-width: 250px;
  max-width: 460px;
  pre {
    white-space: pre-wrap;
    font-family: Roboto;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
  .buttons-row {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    > * {
      margin: 0 8px;
    }
    button {
      text-transform: uppercase;
    }
  }
}