// login page
@import "variables";
.login-page {
    min-height: 100vh;
    height: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    .login-container {
      width: 620px;
      height: 350px;
      padding: 0;

      .logo-container {
        width: 260px;
        height: 100%;

        float: left;
        text-align: center;
        background-color: #EFEFEF;

        .logo {
          height: 195px;
          margin-top: 4em;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('../../../assets/Logo.svg')
        }
      }

      .forms-container {
          width: 360px;
          height: 100%;
          float: right;

          .open-mode {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            button {
              width: 150px;
            }
            .btn-local {
              margin-top: -20px;
              margin-bottom: 20px;
            }
          }

          .login-form {
              display: flex;
              flex-direction: column;
              .form-heading {
                  text-align: left;
                  margin-bottom: 25px;
              }
              .form-field {
                  margin-bottom: 10px;
              }
              button {
                margin-top: 5px;
                text-transform: uppercase;
              }
              .btn-login {
                  width: 90px;
                  float: right;
              }
              .login-error-message {
                  margin-top: 10px;
                  line-height: 1.3;
                  text-align: center;
                  word-wrap: break-word;
                  word-break: normal;
              }
              .user-pass-error {
                font-size: 75%;
              }
          }
      }
    }
}