<!-- login page -->
<div class="login-page">
  <!-- login form -->
  <mat-card class="login-container">
    <mat-card class="logo-container mat-elevation-z">
        <div class='logo'></div>
    </mat-card>
    <mat-card class="forms-container mat-elevation-z">
      <form class="login-form" (ngSubmit)="login()">
        <h1 class="form-heading">Login</h1>

        <mat-form-field class="form-field">
          <input type="text" placeholder="Username" (input)="onInput($event)" [matAutocomplete]="auto" matInput
            #autoTrigger="matAutocompleteTrigger" [formControl]="username" (keyup)="inputChange('user-pass')" />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let name of filteredUsernames | async" [value]="name">
              {{name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="username.hasError('required')">*Required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input type="password" matInput placeholder="Password" [formControl]="password" (keyup)="inputChange('user-pass')" />
          <mat-error *ngIf="password.hasError('required')">*Required</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input type="text" matInput placeholder="Repository URL" [formControl]="repositoryURL" (keyup)="inputChange()" />
          <mat-error *ngIf="repositoryURL.hasError('required')">*Required</mat-error>
          <mat-error *ngIf="!repositoryURL.hasError('required') && repositoryURL.hasError('pattern')">Invalid URL</mat-error>
          <mat-error *ngIf="repositoryURL.hasError('notFound')">Repository not found</mat-error>
          <mat-error *ngIf="repositoryURL.hasError('forbidden')">You are not allowed to access the repo</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input type="text" matInput placeholder="Branch Name" [formControl]="branchName" (keyup)="inputChange()" />
          <mat-error *ngIf="branchName.hasError('required')">*Required</mat-error>
          <mat-error *ngIf="branchName.hasError('notFound')">Branch not found</mat-error>
          <mat-error *ngIf="branchName.hasError('locked')">Branch is locked</mat-error>
        </mat-form-field>

        <!-- login error message -->
        <mat-error *ngIf="loginError">{{loginError}}</mat-error>
        <mat-error class="user-pass-error" *ngIf="username.hasError('invalid') && password.hasError('invalid')">Invalid username or password</mat-error>

        <div>
            <button type="submit" [disabled]="formProcessing| async" mat-raised-button color="primary" class="btn-login">
              Login
            </button>
        </div>

      </form>
    </mat-card>
  </mat-card>
  <div *ngIf="formProcessing|async">
    <app-loader></app-loader>
  </div>
</div>
<!-- loading indicator -->
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>