// nested config tree
@import "variables";
.split-tree-view {
  position: absolute;
  width: 100%;
  height: 100%;

    .nested-config-view {
      height: 100%;
      background-color: $white;
      padding: 5px;
      overflow: auto;
  
      .mat-tree {
          min-width: 400px;
      }
      .sub-tree {
          padding-left: 40px;
      }
      .mat-tree-node {
          overflow: visible;
          min-height: 0;
          flex-shrink: 0;
          .btn-tree-toggle {
            cursor: pointer;
            display: block;
            font-weight: bold;
            font-size: x-large;
            height: 20px;
            line-height: 20px;
            text-align: center;
            width: 20px;
  
            &.toggle-down {
              font-size: large;
            }
            &.toggle-all-down {
              transform: rotate(90deg);
            }
            &.toggle-all-up {
              transform: rotate(-90deg);
              margin-left: -5px;
              width: 25px;
            }
          }
          .underline {
            border-bottom: black;
            border-bottom-style: dotted;
            border-bottom-width: thin;
            display: flex;
            align-items: center;
            flex: 1;
            cursor: pointer;

            .mat-tooltip-panel {
              display: none;
              .mat-tooltip {
                color: #fff;
                border-radius: 4px;
                margin: 14px;
                max-width: 250px;
                padding-left: 8px;
                padding-right: 8px;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          .context-menu-trigger {
            position: absolute;
          }
          .btn-action {
              margin-left: auto;
              ::ng-deep .mat-button-wrapper {
                  position: relative;
                  top: -5px;
              }
          }
          .key {
              padding-right: 20px;
              font-weight: 700;
              line-height: 1.2;
              cursor: pointer;
              max-width:200px;
          }
          .value {
              word-break: break-all;
              padding-right: 20px;
              flex-shrink: 1;
              line-height: 1.2;
              cursor: pointer;
          }
      }
      ::ng-deep .mat-icon-button {
          font-size: 20px;
          font-weight: 700;
      }
      .btn-add-root-property {
          margin-left: 40px;
      }
    }
}
.btn-action-menu {
    display: block;
    width: 100%;
}