// nested config tree
@import "variables";
.split-tree-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .tree-view {
    overflow-y: auto;
    position: relative;
  }
    .nested-config-view {
      height: 100%;
      width: 100%;
      background-color: $white;
      min-width: 400px;
      border-radius: 4px;

      ::ng-deep .cdk-virtual-scroll-content-wrapper {
        padding: 5px;
      }
  
      .mat-tree-node {
          display: flex;
          align-items: center;
          flex: 1;
          word-wrap: break-word;
          overflow: visible;
          min-height: 0;
          flex-shrink: 0;
          .btn-tree-toggle {
            cursor: pointer;
            display: block;
            font-weight: bold;
            font-size: x-large;
            height: 20px;
            line-height: 20px;
            text-align: center;
            width: 20px;
  
            &.toggle-down {
              font-size: large;
            }
            &.toggle-all-down {
              transform: rotate(90deg);
            }
            &.toggle-all-up {
              transform: rotate(-90deg);
              margin-left: -5px;
              width: 25px;
            }
          }
          .underline {
            border-bottom: black;
            border-bottom-style: dotted;
            border-bottom-width: thin;
            display: flex;
            align-items: center;
            flex: 1;
            cursor: pointer;
          }
          .context-menu-trigger {
            position: absolute;
          }
          .btn-action {
              margin-left: auto;
              width: 40px;
              height: 40px;
              font-size: 20px;
              font-weight: 700;
              padding-bottom: 8px;
              border-radius: 50%;
          }
          .key {
              padding-right: 20px;
              font-weight: 700;
              line-height: 1.2;
              cursor: pointer;
          }
          .value {
              word-break: break-all;
              padding-right: 20px;
              flex-shrink: 1;
              line-height: 1.2;
              cursor: pointer;

              .yaml-var {
                position: relative;

                .mat-tooltip {
                  position: absolute;
                  color: #fff;
                  border-radius: 4px;
                  margin: 0 0 8px 0;
                  max-width: 300px;
                  transform: translateX(-50%);
                  white-space: nowrap;
                  padding-left: 8px;
                  padding-right: 8px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  word-break: initial;
                  left: 50%;
                  bottom: 100%;
                  display: none;

                  &.has-error {
                    background-color: #ff4081;
                  }
                }

                &:hover {

                  .mat-tooltip {
                    display: block;
                  }
                }
              }
          }
      }
      .btn-add-root-property {
          margin-left: 40px;
      }
    }
}
.btn-action-menu {
    display: block;
    width: 100%;
}