html {
    --vscode-editor-background: #ffffff;
    --vscode-editor-foreground: #000000;
    --vscode-dropdown-background: #ffffff;
    --vscode-editorWidget-background: #f3f3f3;
    --vscode-input-placeholderForeground: #767676;
}