@import "variables";

.conflict-dialog {
  width: 1000px;
  height: 600px;

  .conflict-title {
    margin-bottom: 10px;
  }

  .conflict-panel-title {
    align-items: center;
  }

  .view-codes {
    display: flex;
    align-items: center;

    .view-code {
      width: 400px;
      padding: 0 5px 0 0;

      code {
        height: 400px;
      }
    }
  }

  .mat-radio-button {
    margin-bottom: 10px;

    &.draft {
      padding-right: 400px;
    }
  }

  .buttons-row {
    padding-top: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;

    > * {
      margin: 0 8px;
    }
    button {
      text-transform: uppercase;
    }
  }
}