// buttons
// to remove dotted outline on button click in firefox
button::-moz-focus-inner {
  border: 0;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  &.cdk-program-focused
  {
      .mat-button-focus-overlay
      {
          opacity: 0 !important;  // hide overlay for program focused
      }
  }
  &.mat-button:hover .mat-button-focus-overlay {
    opacity: 0.08;
  }
}

// override some material design button styles
.mat-raised-button,
.mat-stroked-button, {

  &.btn-small {
    line-height: 24px;
    font-size: 12px;
    min-width: 0;
  }
}

// buttons with icons only/ svg icons or mat-icons
.mat-raised-button,
.mat-flat-button {

  &.btn-icon {
    padding: 0;
    min-width: 0;

    .mat-button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;

      svg {
        fill: currentColor;
      }
    }
  }
}
