<!-- dashboard page -->
<div class="dashboard-page">
  <!-- table header row -->
  <div class="table-header-row">
    <h2>Files</h2>

    <label class="apps-label">Application:</label>
    <mat-form-field>
      <mat-select class="apps-selector" [value]="selectedApp|async" (selectionChange)="onSelectApp($event)">
        <mat-option value="">Show All</mat-option>
        <mat-option *ngFor="let app of applications|async" [value]="app">{{app}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="btns-wrapper">
      <div matTooltip="Commit Changes">
        <button type="button" mat-raised-button [disabled]="(disableCommit|async) || (currentUser|async)?.branchName === 'master'" color="primary" class="btn-icon" (click)="commitChanges()">
          <mat-icon svgIcon="commit"></mat-icon>
        </button>
      </div>
      <div matTooltip="Add New File">
        <button type="button" mat-raised-button [disabled]="(currentUser|async)?.branchName === 'master'" color="primary" class="btn-icon" (click)="addNewFile()">
          <mat-icon svgIcon="add_file"></mat-icon>
        </button>
      </div>
      <div matTooltip="Merge Master Branch">
        <button type="button" *ngIf="(currentUser|async)?.branchName !== 'master'" mat-raised-button [disabled]="!(canSyncMaster|async)" color="primary" class="btn-icon" (click)="syncMaster()">
          <mat-icon svgIcon="sync"></mat-icon>
        </button>
      </div>
      <div matTooltip="{{pullRequestTooltip}}">
        <a *ngIf="(currentUser|async)?.branchName !== 'master' && pullRequestUrl" mat-raised-button [disabled]="!(canPullRequest|async)" color="primary" class="btn-icon" href="{{pullRequestUrl}}" target="_blank">
          <mat-icon svgIcon="pull_request"></mat-icon>
        </a>
      </div>
      <div matTooltip="Refresh">
        <button type="button" mat-raised-button color="primary" class="btn-icon" (click)="refresh()">
          <mat-icon svgIcon="refresh"></mat-icon>
        </button>
      </div>
    </div>
  </div>
  <!-- files table -->
  <table *ngIf="applications| async; else loader" matSort [matSortDisableClear]="true" (matSortChange)="onSortChange($event)" mat-table [dataSource]="folders|async" class="files-table mat-elevation-z8">

    <!-- Application column -->
    <ng-container matColumnDef="applicationName">
      <th mat-header-cell *matHeaderCellDef >
        <div class="folder-toggle" (click)="toggleAllApps($event)">
          <span class="{{(allAppsExpanded|async) ? 'folder-toggle-all-up' : 'folder-toggle-all-down'}}">&raquo;</span>
        </div>
        <div mat-sort-header="applicationName">Application</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="!element.appFile">
          <span class="folder-toggle" (click)="toggleApp(element.app)">{{(collapsedApps|async).indexOf(element.app) > -1 ? '+' : '-' }}</span>
          <span >{{element.app}}</span>
        </div>
      </td>
    </ng-container>

    <!-- fileName column -->
    <ng-container matColumnDef="fileName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="fileName">File Name</th>
      <td mat-cell *matCellDef="let element">
        <a *ngIf="element.appFile" mat-button color="accent" (click)="editFile(element.appFile)" [ngClass]="{'env': isEnvFile(element.appFile)}">
          {{element.appFile.fileName}}<span *ngIf="element.appFile.modified" class="mo-ind">*</span>
        </a>
      </td>
    </ng-container>

    <!-- actions column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-col">Action</th>
      <td mat-cell *matCellDef="let element;" class="actions-col">
        <div class="btn-group" *ngIf="element.appFile">
          <div class="btn-with-icon" *ngIf="!isEnvFile(element.appFile)">
              <button [disabled]="(currentUser|async)?.branchName === 'master'" type="button" mat-button color="primary" class="btn-delete-file" (click)="deleteFile(element.appFile)">
                  <mat-icon>delete</mat-icon>
                  Delete
              </button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="(isDeleting|async) || (isCommitting|async) || (isRefreshing|async)">
      <app-loader></app-loader>
  </div>
</div>

<!-- loading indicator -->
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>