// dashboard page
@import "variables";
.dashboard-page {
    padding: 30px 50px;
    color: $color-text-secondary;

    .table-header-row {
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        .btns-wrapper {
          margin-left: auto;
          display: flex;
          align-items: center;

          > div:not(:first-child):not(:empty) {
            margin-left: 10px;
          }
        }

        .apps-label {
          margin-left: 100px;
          margin-right: 20px;
        }
    }
    .files-table {
        width: 100%;
        th.mat-header-cell {
            font-size: 14px;
            font-weight: 700;
        }
        th.mat-header-cell,
        td.mat-cell {
            padding: 7px 25px;
            &.mat-column-applicationName {
              width: 25%;
              div {
                display: inline-flex;
                align-items: center;
              }
            }
            &.mat-column-fileName {
              width: 55%;

              a {
                padding: 0 3px;
                text-align: left;
                min-width: auto;
                &.env  {
                  ::ng-deep .mat-button-wrapper{
                    font-weight: bold;
                  }
                }
              }
              .mo-ind {
                color: red;
              }
            }
            &.actions-col {
                width: 20%;
                .btn-group {
                    display: flex;
                    margin-left: -16px;
                    .btn-with-icon {
                      display: flex;
                      align-items: center;
                      button {
                          min-width: auto;
                          text-transform: uppercase;
                          padding-left: 5px;
                          padding-right: 5px;
                      }
                    }
                }
            }
            .folder-toggle {
              cursor: pointer;
              display: block;
              font-weight: bold;
              font-size: large;
              height: 20px;
              line-height: 20px;
              margin-right: 5px;
              text-align: center;
              width: 20px;
              color: #FFFFFF;
              background-color: #000000;
              border-radius: 10px;
              .folder-toggle-all-down {
                transform: rotate(90deg);
                margin-left: 7px;
              }
              .folder-toggle-all-up {
                transform: rotate(-90deg);
                margin-left: 4px;
              }
            }
        }
        tr.mat-row:nth-child(2n+1) td.mat-cell {
          background-color: $color-bg-body;
        }
    }
}