// main header
@import "variables";

.main-header {
  display: flex;
  align-items: center;
  background-color: $white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  height: 80px;
  padding: 5px 50px;

  .logo {
    width: 220px;
    height: 70px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/Logo-Landscape.svg');
    margin-right: auto;
  }
  .repo-info {
    display: flex;
    align-items: center;

    .mat-button {
      min-width: 0;
      padding: 0 2px;

      &.is-disabled {
        pointer-events: none;
      }
    }
  }
  .btn-logout {
    text-transform: uppercase;
    margin-left: 15px;
  }
}
::ng-deep .branches-menu-container.mat-menu-panel {
  min-width: 175px;
  max-width: 300px;

  .btn-branch-menu {
    display: block;
    width: 100%;
    text-align: left;
    border-radius: 0;
    text-overflow: ellipsis;
    overflow: hidden;

    &.is-current {
      padding-right: 50px;
      position: relative;

      .mat-icon {
        position: absolute;
        right: 16px;
        top: calc(50% - 9px);
        font-size: 18px;
        height: 18px;
        width: 18px;
      }
    }

    &.btn-create-branch {
      border-top: 1px solid #c4c4c4;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      height: 45px;
    }
  }
}